
<!DOCTYPE html>
<html lang="en">
    <head> 
        
        <title>Gentamicin Calculator</title>
        {%load static%}
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>

    <body>
        
        <script src="{% static 'script.js' %}">  </script>
        <div class="container">  
            <h1>Gentamicin Calculator</h1>

            <div class= "dropdown">
                <h3 id="result">Gentamicin Contraindications</h3>   
                <select class="dropdown" id="ContraIndication"  default="None">
                    <option value="None">-- None --</option>
                    <option value="hypersensitivity">Known hypersensitivity to gentamicin or its excipients</option>
                    <option value="Myasthenia" selected>Myasthenia Gravis</option>
                    <option value="Blind">Blind (due to risk of ototoxicity)</option>
                </select>
            </div>
          
            <div class="dropdown">
                <button class="dropbtn">Special Indications</button>
                <div class="dropdown-content" default="None">
                    <a href="#None">None</a>
                    <a href="#Burns">Burns</a>
                    <a href="#Ascites">Ascites >20% of Body weight</a>
                    <a href="#Endocarditis">Endocarditis</a>
                    <a href="#Cystic">Cystic Fibrosis</a>
                    <a href="#Pregnancy">Pregnancy</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Dialysis Patient:</button>
                <div class="dropdown-content" default="None">
                    <a href="#Yes">Yes</a>
                    <a href="#No">No</a>
                </div>
            </div>
            <br>
            <div class="dropdown">
                <button class="dropbtn">Sex</button>
                <div class="dropdown-content" default="None">
                    <a href="#Male">Male</a>
                    <a href="#Female">Female</a>
                </div>
            </div>
            <label>
                <input id="A-input" type="number" placeholder="Enter age: ">
            </label>
            <label>
                <input id="h-input" type="number" placeholder="Enter Height in Centimeters: ">
            </label>        
            <label>
                <input id="w-input" type="number" placeholder="Enter Weight in Kilogrames: ">
            </label> 
            <label>
                <input id="C-input" type="number" placeholder="Enter Creatinine result in umol/l: ">
            </label>
            <br>           
            <button type="submit" onclick="Calculate()">Calculate Gentamicin dose</button>
            <br><br><br>
            
            <div class="bmi-value">
                <h4>Gentamicin dose: </h4>
                <div id="bmi-output"></div>
            </div>
            <div class="status">
                <h4>Frequency </h4>
                <div id="bmi-status"></div>
            </div>   
        </div>
        <br>
    </body> 
</html>